.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.home-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  position: relative;
  max-width: 1200px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0,1;
}
.home-image {
  width: 91px;
  height: 91px;
  object-fit: cover;
}
.home-desktop-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-nav-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-link {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.home-link1 {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.home-get-started {
  background-color: #910a0a;
}
.home-text {
  color: rgb(255, 255, 255);
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-button {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-section {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  border-color: #51515A;
  flex-direction: column;
  justify-content: center;
  border-bottom-width: 0px;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-content {
  gap: var(--dl-space-space-fiveunits);
  width: 457px;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-main {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading {
  color: rgb(57, 57, 57);
  font-size: 60px;
}
.home-caption {
  color: rgb(122, 122, 122);
  line-height: 1.5;
}
.home-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-get-started1 {
  display: flex;
  background-color: #910a0a;
}
.home-text06 {
  color: rgb(255, 255, 255);
}
.home-link2 {
  display: contents;
}
.home-get-started2 {
  text-decoration: none;
  background-color: #2A2A2A;
}
.home-text07 {
  color: rgb(255, 255, 255);
}
.home-image01 {
  width: 723px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image02 {
  width: 940px;
  object-fit: cover;
}
.home-section1 {
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
}
.home-text10 {
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-features {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  user-select: none;
  border-color: #5A5A5A;
  margin-bottom: 120px;
  flex-direction: row;
  justify-content: center;
  border-bottom-width: 1px;
}
.home-text11 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text12 {
  color: rgb(121, 124, 128);
  font-family: Poppins;
}
.home-text13 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text14 {
  color: rgb(121, 124, 128);
  font-family: Poppins;
}
.home-text15 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text16 {
  color: rgb(121, 124, 128);
  font-family: Poppins;
}
.home-note {
  gap: 140px;
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-content1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 520px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-main1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading01 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.home-paragraph {
  color: #CCCCCC;
  font-family: Poppins;
  line-height: 28px;
}
.home-explore-more {
  gap: var(--dl-space-space-oneandhalfunits);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #80FF44;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  border-bottom-width: 1px;
}
.home-explore-more:hover {
  opacity: 0.5;
}
.home-text22 {
  color: #80FF44;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.home-image03 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-image04 {
  object-fit: cover;
}
.home-section2 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-header1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text23 {
  color: rgb(35, 35, 35);
  font-size: 40px;
}
.home-text24 {
  color: rgb(146, 146, 146);
  width: 100%;
  max-width: 600px;
  text-align: center;
  font-family: "Poppins";
  line-height: 28px;
}
.home-note1 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.home-image05 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container03 {
  gap: var(--dl-space-space-halfunit);
  width: 402px;
  height: 680px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  justify-content: center;
}
.home-image06 {
  width: 312px;
  height: 115px;
  object-fit: cover;
}
.home-content2 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-main2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-caption1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-section3 {
  color: rgb(145, 10, 10);
  display: none;
}
.home-heading02 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-heading03 {
  color: rgb(43, 43, 43);
  font-size: 35px;
}
.home-paragraph1 {
  color: rgb(80, 80, 80);
  width: 543px;
  text-align: justify;
}
.home-text28 {
  font-style: normal;
  font-weight: 700;
}
.home-text34 {
  font-style: normal;
  font-weight: 700;
}
.home-text38 {
  font-style: normal;
  font-weight: 700;
}
.home-get-started3 {
  display: flex;
  background-color: #910a0a;
}
.home-text40 {
  color: rgb(255, 255, 255);
}
.home-note2 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}
.home-image07 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image08 {
  width: 464px;
  height: 104px;
  object-fit: cover;
}
.home-content3 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-main3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-caption2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-section4 {
  color: rgb(198, 255, 75);
  display: none;
}
.home-heading04 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-heading05 {
  color: rgb(43, 43, 43);
  font-size: 35px;
}
.home-paragraph2 {
  fill: #505050;
  color: rgb(80, 80, 80);
}
.home-text43 {
  font-style: normal;
  font-weight: 600;
}
.home-checkmarks {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-get-started4 {
  display: flex;
  background-color: #910a0a;
}
.home-text45 {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.home-note3 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.home-image09 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container04 {
  gap: var(--dl-space-space-halfunit);
  width: 402px;
  height: 480px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  justify-content: center;
}
.home-image10 {
  width: 237px;
  height: 237px;
  object-fit: cover;
}
.home-content4 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-main4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-caption3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-section5 {
  color: rgb(145, 10, 10);
  display: none;
}
.home-heading06 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-heading07 {
  color: rgb(43, 43, 43);
  font-size: 35px;
}
.home-paragraph3 {
  color: rgb(80, 80, 80);
  width: 543px;
  text-align: justify;
}
.home-text49 {
  font-style: normal;
  font-weight: 600;
}
.home-get-started5 {
  display: flex;
  background-color: #910a0a;
}
.home-text53 {
  color: rgb(255, 255, 255);
}
.home-section6 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #2b2b2b;
}
.home-header3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text54 {
  color: #ffffff;
  font-size: 40px;
}
.home-note4 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: center;
}
.home-image11 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container05 {
  gap: var(--dl-space-space-halfunit);
  width: 402px;
  height: 680px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  justify-content: center;
}
.home-image12 {
  width: 693px;
  height: 734px;
  align-self: flex-end;
  object-fit: cover;
}
.home-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-content5 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-main5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-caption4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-section7 {
  color: rgb(145, 10, 10);
  display: none;
}
.home-heading08 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-heading09 {
  color: rgb(255, 255, 255);
  font-size: 35px;
}
.home-text57 {
  color: #ffffff;
  font-size: 23px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
}
.home-paragraph4 {
  color: rgb(230, 230, 230);
  width: 543px;
  text-align: justify;
}
.home-icons {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image13 {
  width: 27px;
  height: 27px;
  object-fit: cover;
}
.home-image14 {
  width: 27px;
  height: 25px;
  object-fit: cover;
}
.home-footer {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-content6 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-main-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-content7 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-main6 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-image15 {
  width: 116px;
  height: 116px;
  object-fit: cover;
}
.home-categories {
  gap: var(--dl-space-space-fourunits);
  width: 655px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-category {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-links {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text58 {
  color: rgb(63, 63, 63);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
}
.home-text59 {
  color: #3f3f3f;
}
.home-text60 {
  color: #3f3f3f;
}
.home-text61 {
  color: #3f3f3f;
}
.home-category1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 175px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text62 {
  color: rgb(63, 63, 63);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-text63 {
  color: #3f3f3f;
}
.home-text64 {
  color: #3f3f3f;
}
.home-text65 {
  color: #3f3f3f;
}
.home-container09 {
  flex: 0 0 auto;
  width: 328px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-socials {
  gap: var(--dl-space-space-unit);
  width: 328px;
  height: 40px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container10 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text66 {
  color: rgb(63, 63, 63);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-container11 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image16 {
  width: auto;
  height: 29px;
  object-fit: cover;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
}
.home-image17 {
  width: auto;
  height: 31px;
  object-fit: cover;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
}
.home-image18 {
  width: 33px;
  height: 33px;
  padding: 4px;
  object-fit: cover;
}
.home-copyright {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text67 {
  color: #C4C4C4;
  width: 100%;
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}
@media(max-width: 991px) {
  .home-desktop-menu {
    display: none;
  }
  .home-nav-content {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-logo {
    color: #000000;
  }
  .home-section {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-hero {
    gap: var(--dl-space-space-fourunits);
    flex: 1;
    position: relative;
    max-width: auto;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .home-content {
    position: relative;
    align-items: center;
  }
  .home-main {
    align-items: center;
  }
  .home-heading {
    text-align: center;
  }
  .home-caption {
    text-align: left;
  }
  .home-buttons {
    width: 100%;
  }
  .home-get-started1 {
    flex: 1;
  }
  .home-get-started2 {
    flex: 1;
  }
  .home-image01 {
    left: 134px;
    bottom: 48px;
    position: absolute;
    flex-direction: column;
  }
  .home-image02 {
    top: 0px;
    left: 0px;
    display: none;
    position: absolute;
    align-self: center;
  }
  .home-text10 {
    text-align: center;
  }
  .home-note {
    gap: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .home-content1 {
    max-width: 100%;
  }
  .home-main1 {
    align-items: flex-start;
  }
  .home-text23 {
    text-align: center;
  }
  .home-text54 {
    text-align: center;
  }
  .home-content6 {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-copyright {
    display: flex;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-get-started {
    display: none;
  }
  .home-content {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading {
    font-size: 60px;
  }
  .home-caption {
    color: #4c4c4c;
    font-size: 16px;
    font-family: Poppins;
    line-height: 24px;
  }
  .home-get-started1 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-get-started2 {
    display: none;
  }
  .home-image01 {
    display: none;
  }
  .home-image02 {
    display: flex;
  }
  .home-section1 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .home-text10 {
    font-size: 32px;
    text-align: center;
  }
  .home-features {
    gap: var(--dl-space-space-oneandhalfunits);
    margin-top: var(--dl-space-space-threeunits);
    border-color: #5A5A5A;
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-feature {
    width: 100%;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-text11 {
    font-size: 20px;
  }
  .home-feature1 {
    width: 100%;
    border-color: #5A5A5A;
    padding-bottom: var(--dl-space-space-unit);
    border-bottom-width: 1px;
  }
  .home-text13 {
    font-size: 20px;
  }
  .home-feature2 {
    width: 100%;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-text15 {
    font-size: 20px;
  }
  .home-note {
    gap: var(--dl-space-space-threeunits);
  }
  .home-main1 {
    width: 100%;
    align-items: flex-start;
  }
  .home-heading01 {
    font-size: 28px;
  }
  .home-paragraph {
    line-height: 24px;
  }
  .home-section2 {
    gap: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text23 {
    font-size: 32px;
    text-align: center;
  }
  .home-note1 {
    flex-direction: column-reverse;
  }
  .home-note2 {
    flex-direction: column-reverse;
  }
  .home-note3 {
    flex-direction: column-reverse;
  }
  .home-section6 {
    gap: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text54 {
    font-size: 32px;
    text-align: center;
  }
  .home-note4 {
    flex-direction: column-reverse;
  }
  .home-content7 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-main6 {
    gap: var(--dl-space-space-twounits);
  }
  .home-categories {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-header {
    align-items: flex-start;
  }
  .home-heading {
    max-width: 280px;
    align-self: center;
  }
  .home-caption {
    color: #565656;
    font-size: 16px;
    font-family: Poppins;
    line-height: 24px;
  }
  .home-image04 {
    width: 100%;
  }
}
