body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.hero img {
    width: 100px; /* Adjust as needed */
    height: auto;
    vertical-align: middle;
}

.linkedin-button img {
    width: 50px; /* Adjust as needed */
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
